@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppin{
    font-family: "Poppins", sans-serif;
}
/* Social icons animation */
.item a {
  text-decoration: none;
  width: 3.5rem;
  height: 3.5rem;
  background-color: hsl(203, 92%, 97%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid hsl(203, 92%, 97%);
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 2rem;
  color: hsl(203, 92%, 8%);
  transition: 0.5s ease;
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
.item:nth-child(1) {
    --bg-color: #0077b5;
  }
.item:nth-child(2) {
  --bg-color: #000;
}


.item:nth-child(3) {
    --bg-color: #ff0000;
  }
  /* for making new social animation color
  .item:nth-child(nth  child) {
    --bg-color: colorname/code ;
  }*/
  /* Social icons animation */

  /* Circle animation */
  /* media queries */

  @media screen and (max-width: 720px)  {
    /* CSS rules for mobile view (Vivo V7 and similar devices) */
    body {
      display: block;
        
        
        /* Adjust other styles for smaller screens */
    }
     .navbar div{
      display: none;
      
    }
    .navbar ul{
      flex-direction: row;
      margin: 0;
      padding: 0;

    }
    .navbar ul li{
      flex-direction: row;
      margin: 0;
      padding: 0;
      

    }
    .navbar ul li a {
      font-size: 1.1rem;}
 /* intro */
    .mob-intro{
      display: block;
      margin: 0;
    
    }
    .mob-intro .intro-textbox{
      margin: 0;
      padding: 0;
    }
    .mob-intro div img{
      margin: 0 auto;
      
    }
/* About  */
    .about {
      display: block;
      font-size: 16px;
    }
    .about div {
      display: block;
      margin: 0;
    }
    .about div div {
     margin: 0;
     padding: 0;

    }
    .about .about-dp{
      display: block;
      margin: 2rem;
      
    }
    .about .about-container{
      display: block;
      margin: 0 ;
      padding: 0;

    }
    .about .about-container-box{
      
      margin: 10% auto;
      padding: 0 ;
    }

    .about .about-box{
      width: 100%;
      height: auto;
      margin: 0 auto ;
      padding:  auto;
      font-weight: 400;
    }

    /* experience */
    .experience{
      display: block;
      margin: 0;
      
    }
    .experience .exp-heading{
      display: block;
      margin:  0;
    }
    .experience .exp-container{
      display: grid;
      margin: 0;
      padding: 0;
      width: auto;
      
    }
    .experience .exp-container .exp-container-box{
      margin: 5vw auto;
      width: 80vw;
      
    }
    .experience .exp-container .exp-container-box article{
      display: flexbox;
      
     
    }

    /* Projects */
    .project-container{
      display: block;
      width: auto;
      margin: 0 auto;
    }
    .project-container .project-cards {
      width: auto;
      display: block;
      margin: 0;
    }
    .project-container .project-cards .project-card{
      display: block;
      width: auto;
      margin:  10%;
      padding: 20px 10px;
    }
    .project-container .project-cards .project-card img{
      padding: 5%;
      border-radius: 15%;
    }
    .project-container .project-cards .project-card article{
      display: block;
      box-sizing: border-box;
    }
    .project-container .project-cards .project-card article button{
      display: inline;
    }

    /*contact  */

   .contact{
    
    margin: 2px;
    padding: 0;
   }
   .contact-box{
    
    width: 100vw ;
    padding: 0;
   
   }
   .contact-box div{
    
    margin: 1rem;
    padding:  0.5rem;
   }
   .contact-box div p{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
   }
     
}